	  <table id="elements_table" class="table">
        <thead class="table-header">
          <tr>
            <th class="table-header-title" scope="col" style="width:20%">Contenido</th>
            <th class="table-header-title" scope="col" style="width:30%">#</th>
            <th class="table-header-title" scope="col" style="width:50%">Publicados</th>    
          </tr>
        </thead>
        <tbody id="elements_tbody" class="table-tbody">             
          <tr>
            <td class="table-cell"><b>Páginas</b></td>
            <td class="table-cell"><%=@cms_page_count%></td>
            <td class="table-cell"><%=@cms_page_published_count%></td>
          </tr>
          <tr>
            <td class="table-cell"><b>Entradas</b></td>
            <td class="table-cell"><%=@cms_articles_count%></td>
            <td class="table-cell"><%=@cms_articles_published_count%></td>
          </tr>          
        </tbody>
      </table>            	