<h2>Dashboard</h2>

<div class="container_12">

  <div class="grid_2">
     <a href="/config/site"><span data-icon="&#xe01e;" aria-hidden="true" class="less_contrast_text" style="font-size:3em; text-align: center; display:block"></span></a>
  </div>

  <div class="grid_2">
      <span data-icon="&#xe072;" aria-hidden="true" class="less_contrast_text"  style="font-size:3em; text-align: center; display:block"></span>
  </div>

  <div class="grid_2">
      <span data-icon="&#xe070;" aria-hidden="true" class="less_contrast_text"  style="font-size:3em; text-align: center; display:block"></span>
  </div>

</div>

<div class="container_12">

  <div class="grid_2">
     <span class="less_contrast_text" style="text-align: center; display:block"><a href="/config/site"><%=t.dashboard.configuration%></a></span>
  </div>

  <div class="grid_2">
      <span class="less_contrast_text" style="text-align: center; display:block"><%=t.dashboard.media%></span>
  </div>

  <div class="grid_2">
      <span class="less_contrast_text" style="text-align: center; display:block"><%=t.dashboard.files%></span>
  </div>

</div>